<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Home</title>
  </head>
  <body>
    <p>404 Page Not Found</p>
    <p th:text="${exception}">Exception</p>
  </body>
</html>